.form-container {
  width: 40%;
  padding: 1rem;
  border-radius: 25px;
  border: 2px solid grey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.header {
  margin-top: 0px;
  color: rgb(48, 48, 48);
}
.input-box {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}
.des-box {
  margin-top: 8px;
  margin-bottom: 8px;
}
.error-box {
  color: red;
  font-size: 14px;
}
