.form-button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 0.75rem 3rem;
  box-shadow: 0 2px 8px rgba(62, 24, 24, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}
.form-button:hover {
  background-color: grey;
}
